* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,body {
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#nav1{
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}

#nav1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1px;
    padding-left: 8px;
}
#nav1-part2{
    display: flex;
    gap: 30px;
    font-weight: 400;
    font-size: 14px;
}
#nav1-part2 h3{    
    font-size: 14px;
    font-weight: 600;
}
#nav1-part2 h3 span{    
    color: rgb(40, 40, 40);
    margin-left: 20px;
}
#nav1-part2 i{    
    display: none;
}

.gola{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
}

#nav2{
    display: flex;
    padding-left: 40px;
    gap: 70px;
    height: 60px;
    align-items: center;
    padding: 0px 50px;
}

#nav2 h3{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

#content{
    width: 100%;
    height: calc(100% - 130px);
}

.top-left{
    display: flex;
    gap: 100px;
    margin-top: 50px;
    margin-bottom: -40px;
}
.top-left h3:nth-child(2){
    color: rgb(73, 73, 73);
    font-weight: 500;
}

.text-content{
    height: 45%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 170px;
    padding: 0px 59px;
}

.text-content::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
}

.text-content::-webkit-scrollbar-thumb{
    background-color: orangered;
}

.elem{
    flex-shrink: 0;
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.elem h1{
    font-size: 130px;
    padding-left: 120px;
    font-weight: 200;
}

#image-content{
   height: 55%;
   width: 100%; 
   overflow-x: auto;
   display: flex;
   flex-wrap: nowrap;
}

#image-content::-webkit-scrollbar{
    display: none;
}

#image-content img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0 30%;
}
#image-content img:nth-child(3){
    object-position: 0 10%;
}

@media (max-width:640px){ 
    #main{
        height: 100%;
        width: 100%;
    }
    
    #nav1{
        padding: 0px 20px;
    }
    
    #nav1-part1{
        padding-left: 0px;
    }
    #nav1-part2 h3{
        display: none;
    }
    #nav1-part2 i{    
        display: initial;
        font-size: 26px;
    }

    .gola{
        height: 18px;
        width: 18px;
    }
    
    #nav2{
        gap: 20px;
        padding: 0px 20px;
        flex-wrap: wrap;
    }
    
    #nav2 h3{
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 600;
    }
    
    .top-left{
        gap: 40px;
        margin-top: 50px;
        margin-bottom: -20px;
    }

    .text-content{
        gap: 30px;
        padding: 0px 30px;
    }
    .elem h1{
        font-size: 100px;
        padding-left: 50px;
        font-weight: 200;
    }
    
    #image-content img{
        object-position: 50% 0%;
    }

    #image-content img:nth-child(3){
        object-position: 50% 10%;
    }
    
}